body{
    background-color: rgb(235, 232, 219);
    font-family: 'Indie Flower';
}
header{
    display: flex;
    align-items: center;
    gap: 32px
}
.logo{
    display: flex;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    margin-right: auto
}
.logo>div{
    font-size: 40px;
    color: rgb(32, 35, 37);
    font-family: 'Berkshire Swash';
}
.nav{
    color: rgb(46, 68, 46);
    text-decoration: none;
    font-weight: bold;
    font-size: 23px;
    margin-right: 30px;
}