body{
    background-color: #d2b6d6;
    font-family: 'Indie Flower';
    margin: 0;

}

/*--------------------*/
/*       Header       */
/*--------------------*/
header{
    display: flex;
    align-items: center;
    gap: 32px;    
    padding: 10px;
    background-color: #b8d3b3;
}
.logo{
    display: flex;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    margin-right: auto
}
.logo>div{
    font-size: 40px;
    color: rgb(32, 35, 37);
    font-family: 'Berkshire Swash';
}
.nav{
    color: rgb(46, 68, 46);
    text-decoration: none;
    font-weight: bold;
    font-size: 23px;
    margin-right: 30px;
    padding-top: 4px;
}
/*--------------------*/
/*    Hero section    */
/*--------------------*/
.hero{
    min-height: 100vh;
    background:linear-gradient(#b0ceaa, #ebe8db, #d2b6d6)
}